<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>AngularJS | !</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script type="text/javascript"
            src="controller.js"></script>
</head>
<body ng-app="mainApp"> <!--o ng-app serve para dar irnicio ao angular -->

<div ng-controller="people">
    <ul>
        <h2>Names And age of Programmers in the local area: </h2>
        <li ng-repeat="person in persons">
            {{person.Name + ' : ' + person.Age}}
        </li>
    </ul>
</div>

</body>
</html>


