<!DOCTYPE html>
<html lang="pt" >
<head>
    <meta charset="utf-8">
    <title>AngularJS | !</title>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app=""> <!--o ng-app serve para dar irnicio ao angular -->

Your Name: <input type="text" ng-model="name"><br>
Filtro uppercase: {{' Welcome ' + name |uppercase }} <br>
Filtro lowercase: {{' Welcome ' + name |lowercase }} <br>
<br>
Price: <input type="text" ng-model="price"><br>
Filtro currency: {{price | currency }} <br>
Filtro custom currency: {{price | currency:"Rs. " }} <br>
Filtro round currency: {{price | currency:"Rs. " : 5}} <br>

</body>
</html>


