<!DOCTYPE html>
<html lang="pt" ng-app=""> <!--o ng-app serve para dar irnicio ao angular -->
<head>
    <meta charset="utf-8">
    <title>AngularJS | Directives !</title>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

<textarea ng-model="name"></textarea>
<div ng-bind="name"></div>

ou com { { } }

{{name}}
data-ng-bind: </br>
<div data-ng-bind="name"></div>
</body>
</html>


