<!DOCTYPE html>
<html lang="pt" ng-app=""> <!--o ng-app serve para dar irnicio ao angular -->
<head>
    <meta charset="utf-8">
    <title>AngularJS | Expressions!</title>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<textarea ng-model="name"></textarea>
<div> Hello {{name}}</div>
</body>
</html>


