<!DOCTYPE html>
<html lang="pt" ng-app=""> <!--o ng-app serve para dar irnicio ao angular -->
<head>
    <meta charset="utf-8">
    <title>AngularJS | More on expressions and directives !</title>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

<div ng-init="language = 'AngularJs'">
    {{ Language }}
    {{ 'Language' }}

    Your preferred language: <input type="text" ng-model="language"> {{language}}
</div>
</body>
</html>


