<!DOCTYPE html>
<html lang="pt" ng-app=""> <!--o ng-app serve para dar irnicio ao angular -->
<head>
    <meta charset="utf-8">
    <title>AngularJS | ng-repeat !</title>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

    <div ng-init="myFavLan=[{name:'PHP', extension:'.php'},
     {name:'JavaScript', extension:'.js'},
     {name:'Ruby', extension:'.rb'},
     {name:'C++', extension:'.cpp'} ]"></div>

<p ng-repeat="language in myFavLan">

    Name: {{language.name}} <br>
    Extention: {{language.extension}} <br>
</p>

</body>
</html>


