<!DOCTYPE html>
<html lang="pt" ng-app="myLanguageApp"> <!--o ng-app serve para dar irnicio ao angular -->
<head>
    <meta charset="utf-8">
    <title>AngularJS | Controllers !</title>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

    <div ng-controller="languages">
        Select your Favourite Language:
        <button ng-click="php()">PHP</button>
        <button ng-click="javascript()">JavaScript</button>
        <button ng-click="cpp()">C++</button>
        <button ng-click="java()">JAVA</button>
        
        <p> You have select: {{ myFavLanguage }}</p>

    </div>

<script>
    var application = angular.module('myLanguageApp', []); // black array for inject dependencies
    application.controller('languages', function ($scope) {
        $scope.myFavLanguage = 'None';

        $scope.php = function () {
            $scope.myFavLanguage = 'PHP';
        }
        $scope.javascript = function () {
            $scope.myFavLanguage = 'javascript';
        }
        $scope.cpp = function () {
            $scope.myFavLanguage = 'C++';
        }
        $scope.java = function () {
            $scope.myFavLanguage = 'java';
        }
    });
</script>
</body>
</html>


