<!DOCTYPE html>
<html lang="pt" >
<head>
    <meta charset="utf-8">
    <title>AngularJS | Diferences Services / factory and Provider </title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="application/javascript" src="script.js"></script>

</head>

<body ng-app="mainApp" ng-controller="app"> <!--o ng-app serve para dar irnicio ao angular -->

{{greetMessage}}

</body>
</html>



