<!DOCTYPE html>
<html lang="pt" >
<head>
    <meta charset="utf-8">
    <title>AngularJS | !</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<script type="application/javascript" src="controller.js"></script>
</head>

<body ng-app="mainApp"> <!--o ng-app serve para dar irnicio ao angular -->

    <div ng-controller="app">
        <li ng-repeat="i in range track by $index">
            print something 100 by the index <br>
        </li>
    </div>

</body>
</html>



