<!DOCTYPE html>
<html lang="pt" >
<head>
    <meta charset="utf-8">
    <title>AngularJS | Services </title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="application/javascript" src="script23.js"></script>

</head>
<script type="application/javascript" src="controller.js"></script>
</head>

<body ng-app="mainApp" ng-controller="app"> <!--o ng-app serve para dar irnicio ao angular -->

<button ng-click="generateRandom()">Generate Random number</button>

{{randomNumber}}
</body>
</html>



