<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>AngularJS | !</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="application/javascript" src="controller.js"></script>
</head>

<body ng-app="mainApp"> <!--o ng-app serve para dar irnicio ao angular -->
<input type="text" ng-model="message.property"/>
<p ng-repeat="i in [1]">
    <input type="text" ng-model="message.property">
    You wrote: {{message.property}}
</p>
[OUTER] You wrote: {{message.property}}
</body>
</html>


