<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>AngularJS | searchBox !</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script type="text/javascript"
            src="controller.js"></script>
</head>
<body ng-app="mainApp"> <!--o ng-app serve para dar irnicio ao angular -->
Search:
<input type="search" ng-model="searchBox">

<div ng-controller="people">
    <ul>
        <h2>Names And age of Programmers in the local area: </h2>
        <li ng-repeat="person in persons | filter: globalSearch">
            {{"Name: " + person.Name +
            " Age: " + person.Age +
            " Fav color: " + person.FavColor }}
        </li>
    </ul>
</div>

<div id="searchBoxes">
    Global Search Filter:
    <input type="text" ng-model="globalSearch.$"><br>
    Name Search Filter:
    <input type="text" ng-model="globalSearch.Name"><br>
    Age Search Filter:
    <input type="text" ng-model="globalSearch.Age"><br>
    Color Search Filter:
    <input type="text" ng-model="globalSearch.Fav_color"><br>


</div>

</body>
</html>


